.crypto-item {
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid silver;
}

.crypto-item:hover {
  background-color: rgba(192, 192, 192, 0.158);
}

.crypto-item:last-child {
  border-bottom: 0;
}

span.title,
span.symbol {
  font-weight: bold;
}

span.symbol {
  text-transform: uppercase;
}