header {
  background-color: #272a33;
  padding: 20px 10px 40px 10px;
  margin-bottom: 20px
}

header img {
  width: 100px;
  animation: rotate infinite 20s linear;
}

h1 {
  color: rgba(255, 255, 255, 0.767);
  font-weight: lighter;
}

.rotate {
  border-radius: 50%;
  border: 3px solid #fff
    /* box-shadow: 0 0 20px -5px #ffffff; */
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }


  100% {
    transform: rotate(360deg);
  }
}